<!DOCTYPE html>
<head>
    <title>{{ title }}</title>
    <h1>Crunchtime</h1>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

{% block body %}
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
        var socket = io.connect('http://127.0.0.1:5000');

        socket.on('connect', function() {
            socket.send('user has connected')
        });
    });
</script>
{% endblock %}