@import url('https://fonts.googleapis.com/css?family=Roboto Condensed');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D1D1D1;
}

.header {
    padding: 20px;
    background: #000000;
    color: #be9e44;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
  }

.scoreboard {
    text-align: center;
    position: relative;
    margin: 1em auto;
    width: 60em;
    height: auto;
}

.game {
    display: inline-block;
    width: 250px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px; /* 10 or 25 or 50 */
    text-align: center;
}

.team-logo {
    width: 20px; /* Adjust size as needed */
    height: 20px;
    vertical-align: middle; /* Align logo with text */
    margin-right: 5px;
}

.gameShowing {
    background-color: #be9e44;
    display: inline-block;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    text-align: center;
    animation: fadeIn linear 1s;
}

.player {
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    /* border: 2px solid #CBB26A; */
    margin-bottom: 1%;
    visibility: visible;
}

#stream {
    visibility: hidden;
    border: 2px solid #CBB26A; /* Add a border with a custom color */
    border-radius: 10px; /* Optional: Rounds the corners */
    width: 100%; /* Ensure the stream takes up the full width of its container */
    height: 600px; /* Adjust height as needed */
    display: block; /* Ensure it's treated as a block-level element */
    margin: 0 auto; /* Center the stream horizontally if needed */
}

.logo {
    content:url(".././public/images/logo.png");
    float: left;
    width: 35px;
    position: absolute;
}

.title {
    text-align: center;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

