html
    head
        title Crunchtime
        style
            include ../../public/styling.css
        script
            include ../../public/update.js
            

    body(onload="getLive()")        
        #header
            h1 Crunchtime
            br

        #games(class="scoreboard")

        #current(class="player")
