html
    head
        title Crunchtime
        <link rel="icon" type="image/png" href="../../public/images/favicon.ico"/>
        style
            include ../../public/styling.css
        script
            include ../../public/update.js
            

    body(onload="getLive()")        
        #header(class="header")
            img(class="logo")
            h1(class="title") crunchtime

        #games(class="scoreboard")

        br

        #current
            h3(class="player") No games on right now
