html
    head
        title Crunchtime
        <link rel="icon" type="image/png" href="/images/favicon.png"/>
        style
            include ../../public/styling.css
        script
            include ../../public/update.js
            

    body(onload="getLive()")        
        #header(class="header")
            img(src="../../public/images/favicon.png" class="img")
            h1 crunchtime

        #games(class="scoreboard")

        br

        #current
            h3(class="player") No games on right now
